[Unit]
Description=The Liferay on WildFly Application Server
After=syslog.target network.target
Before=httpd.service

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
EnvironmentFile=-/etc/wildfly/wildfly.conf
LimitNOFILE=102642
PIDFile=/var/run/wildfly/wildfly.pid
ExecStart={{ wildfly_home }}/bin/standalone.sh
StandardOutput=null

[Install]
WantedBy=multi-user.target