admin.email.from.address={{ web_email }}
admin.email.from.name={{ web_name }}
company.default.locale={{ web_company_locale }}
company.default.web.id={{ web_company_web_id }}
default.admin.email.address.prefix={{ web_email_address_prefix }}
liferay.home={{ liferay_home }}
setup.wizard.enabled={{ web_wizard_enabled }}
terms.of.use.required={{ web_terms_of_use }}
users.reminder.queries.enabled={{ web_reminder_queries }}